button[class~='btn']{
	display: inline-block;
	padding:0 16px;
	border: 0px;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	background: none;
    position: relative;
    z-index:5;
    overflow: hidden;
}
button[class~='hover']:hover{
	box-shadow: 0px 4px 4px 0 rgba(0,0,0,.1);
}
/*no-border*/
button[class~="default"]{
	background: #f0f0f0;
}
button[class~='small']{
	line-height: 20px;
}
button[class~='normal']{
	line-height: 30px;
}
button[class~='big']{
	line-height: 40px;
}
button[class~='larger']{
	line-height: 50px;
}
button[class~='red']{
	background-color:red;
}
button[class~='green']{
	background-color:green;
}
button[class~='yellow']{
	background-color:yellow;
}
button[class~='black']{
	background-color:black;
	color:#fff;
}
button[class~='blue']{
	background-color: #7e57c2;
}
button[class~='gray']{
	background-color: #26a69a;
	color:#fff;
}
/*border*/
button[class~="border-default"]{
	color:#000;
	background: #f0f0f0;
	border:1px solid #000;
}
button[class~='border-red']{
	border: 1px solid #ff0000;
}
button[class~='border-green']{
	border: 1px solid #8f8775;
}
button[class~='border-light']{
	border: 1px solid #fbeac0;
}
/*no-bg*/
button[class~='no-bg']{
	background: none!important;
}
button[class~='no-bg']:hover{
	background: #ddd!important;
}
button[class~='danger']{
	color:#ff0000;
}
button[class~='warning']{
	color:#00ff00;
}
button[class~='success']{
	color:#fa3333;
}
button[class~='primary']{
	color:#01b7f3;
}
.btn-mouse-down{
    display: inline-block;
    position: absolute;
    z-index:6;
    width:2px;
    height:2px;
    border-radius: 100%;
    animation:btn-animate 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation:btn-animate 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-animation:btn-animate 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-animation:btn-animate 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-animation:btn-animate 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes btn-animate{
    0% {
        box-shadow: 0 0 0 0px rgba(66, 166, 223, 0.7);
        background: rgba(66, 166, 223, 0.7);
    }
    100% {
        box-shadow: 0 0 0 300px rgba(66, 166, 223, 0);
        background: rgba(66, 166, 223, 0);
    }
}
a{
    margin-left:20px;
}
a{
    text-decoration: none;
    display: inline-block;
    padding:0px 10px;
    color:#333;
    line-height: 200%;
}
a[class~='small']{
    font-size:12px;
}
a[class~='hover']:hover{
    background: #eee;
}
a[class~='normal']{
    font-size:14px;
}
a[class~='big']{
    font-size:18px;
}
a[class~='larger']{
    font-size:25px;
}
a[class~='border']{
   border:1px solid #000000;
}
a[class~='border-info']{
    border:1px solid #42a5f5;
}
a[class~='border-success']{
    border:1px solid #66bb6a;
}
a[class~='border-error']{
    border:1px solid #ef5350;
}
a[class~='border-warning']{
    border:1px solid #ffa726;
}
a[class~='bg']{
    background: #42a5f5;
    color:#fff;
}
a[class~='bg-success']{
    background: #66bb6a;
    color:#fff;
}
a[class~='bg-error']{
    background: #ef5350;
    color:#fff;
}
a[class~='bg-warning']{
    background: #ffa726;
    color:#fff;
}
a[class~='bracket']:before,
a[class~='bracket']:after,
a[class~='bracket']{
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
}
a[class~='bracket']{
    color:#5c5c5c;
}
a[class~='bracket']:hover{
    color:#333;
}
a[class~='bracket']:before{
    content: "[";
    display: inline-block;
    width:5px;
    opacity: 0;
}
a[class~='bracket']:after{
    content: "]";
    display: inline-block;
    width:5px;
    opacity: 0;
}
a[class~='bracket']:hover:before{
    opacity: 1;
    transform:translate(-5px,0);
    -webkit-transform:translate(-5px,0);
    -o-transform:translate(-5px,0);
    -moz-transform:translate(-5px,0);
}
a[class~='bracket']:hover:after{
    opacity: 1;
    transform:translate(5px,0);
    -webkit-transform:translate(5px,0);
    -o-transform:translate(5px,0);
    -moz-transform:translate(5px,0);
}
a[class~='rotate-up']{
    display: inline-block;
    position: relative;
    background: #ddd;
    color:#9f9fa2;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    perspective: 10000;
    -webkit-perspective: 10000;
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    transform-origin:50% 0;
    -webkit-transform-origin:50% 0;
    /*transform:rotateX(90deg);*/
    transition:all 0.3s linear;
}
a[class~='rotate-up'] >span{
    display: inline-block;
}
a[class~='rotate-up']>span:before{
    content:attr(data-hover);
    display: inline-block;
    position: absolute;
    left:0px;
    top:100%;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.2);
    color:#fff;
    text-align: center;
    transform-origin:top;
    -webkit-transform-origin:top;
    transform:rotateX(-90deg);
    -webkit-transform:rotateX(-90deg)
}
a[class~='rotate-up']:hover{
    -webkit-transform:rotateX(90deg);
    transform:rotateX(90deg);
}
a[class~='open-right']{
    color:#fff;
    position: relative;
    padding:0px;
    overflow: hidden;
}
a[class~='open-right']:before{
    content: attr(data-hover);
    display: inline-block;
    width:100%;
    position: absolute;
    left: 0px;
    top:0px;
    height:100%;
    float: left;
    background: #eee;
    color:#000;
    text-align: center;
    z-index:5;
    /*box-sizing: border-box;*/
    transform:translateX(-25%);
}
a[class~='open-right']:before,
a[class~='open-right'] >span{
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}
a[class~='open-right'] >span{
    display: block;
    position: relative;
    z-index:10;
    padding:0 10px;
    background: #666;
    transform:translateX(0);
}
a[class~='open-right']:hover:before{
    transform:translateX(0%);
}
a[class~='open-right']:hover>span{
    transform:translateX(100%);
}
a[class~="underline-text"]{
   background: transparent;
    position: relative;
    padding:0px;
}
a[class~="underline-text"]>span{
    color:#ddd;
    display: inline-block;
}
a[class~="underline-text"]:before{
    content:attr(data-hover);
    display: inline-block;
    position:absolute;
    left:0px;
    top:0px;
    color:#666;
    box-sizing: border-box;
    border-bottom:2px solid #666;
    width:0px;
    transition:all 0.3s linear;
    overflow: hidden;
    white-space: nowrap;
}
a[class~="underline-text"]:hover:before{
    width: 100%;
}
a[class~="circle"]{
    color:#ddd;
    position: relative;
    box-sizing: border-box;
}
a[class~="circle"]:before{
    content:"";
    display: inline-block;
    position:absolute;
    left:0px;
    top:-42.5px;
    width:113px;
    height:113px;
    border-radius: 100%;
    border:2px solid #ddd;
    opacity: 0;
}
a[class~="circle"]:after{
    content:"";
    display: inline-block;
    position:absolute;
    left:-6px;
    top:-48.5px;
    width:123px;
    height:123px;
    border-radius: 100%;
    border:3px solid #ddd;
    opacity: 0;
}
a[class~="circle"]:before,
a[class~="circle"]:after{
    transform-origin:50% 50%;
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
}
a[class~="circle"]:hover:before{
    opacity: 1;
    width:123px;
    height:123px;
    left:-5px;
    top:-47.5px;
}
a[class~="circle"]:hover:after{
    opacity: 1;
    width:133px;
    height:133px;
    left:-11px;
    top:-53.5px;
}
a[class~="double-box"]{
   color:#666;
    position: relative;
    border:2px solid #eee;
}
a[class~="double-box"] > span{
    line-height: 200%;
}
a[class~="double-box"] > span,
a[class~="double-box"]:before,
a[class~="double-box"]{
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}
a[class~="double-box"]:before{
    content: "";
    display: inline-block;
    width:100%;
    height:100%;
    position: absolute;
    left:10px;
    top:-10px;
    border:2px solid #666;
    opacity: 0;
}
a[class~="double-box"]:hover{
    border:2px solid transparent;
}
a[class~="double-box"]:hover>span{
      color:#333;
}
a[class~="double-box"]:hover:before{
    opacity: 1;
    left:-2px;
    top:-2px;
}
a[class~="text-shadow"]{
    position: relative;
}
a[class~="text-shadow"]>span{
    color:#666;
}
a[class~="text-shadow"]:before{
   content:attr(data-hover);
    display: inline-block;
    position: absolute;
    right:-10px;
    top:-10px;
    transform-origin:100% 0%;
    -webkit-transform-origin:100% 0%;
    transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -o-transform:rotate(20deg);
    -moz-transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    opacity: 0;
}
a[class~="text-shadow"],
a[class~="text-shadow"]>span,
a[class~="text-shadow"]:before{
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}
a[class~="text-shadow"]:hover>span{
    color:#333;
}
a[class~="text-shadow"]:hover:before{
    right:10px;
    top:0px;
    transform:rotate(0deg);
    opacity: 1;
}
a[class~="underline"]{
    position: relative;
}
a[class~="underline"] > span{
    color:#666;
}
a[class~="underline"]:after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom:-10px;
    width:100%;
    height:2px;
    background: #333;
    opacity: 0;
}
a[class~="underline"]>span,
a[class~="underline"]:after{
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}
a[class~="underline"]:hover>span{
    color:#333;
}
a[class~="underline"]:hover:after{
    opacity: 1;
    bottom:0px;
}
div[class~='loading']{
    width:100px;
    height:100px;
    position:relative;
}
div[class~='yun']{
    padding:20px;
    width:100px;
    height:100px;
}
.yun div[class~='room']:first-of-type,
.yun div[class~='room']:last-of-type{
    position: absolute;
    transform:rotateZ(45deg);
    -webkit-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
}
.yun div[class~='room']:first-of-type{
    width:35px;
    height:35px;
    /*border:2px solid #ff0000;*/
    left:30px;
    top:30px;
    animation:room-first 3s infinite;
    -webkit-animation:room-first 3s infinite;
    -moz-animation:room-first 3s infinite;
    -o-animation:room-first 3s infinite;
    -ms-animation:room-first 3s infinite;
    transform:50% 50%;
    background:rgba(100,104,120,0.8);
}
.yun div[class~='room']:last-of-type{
    width:25px;
    height:25px;
    /*border:2px solid #00ff00;*/
    left:77px;
    top:40px;
    animation:room-last 3s infinite;
    -webkit-animation:room-last 3s infinite;
    -moz-animation:room-last 3s infinite;
    -o-animation:room-last 3s infinite;
    -ms-animation:room-last 3s infinite;
    background:rgba(1107,150,239,0.8);
}

.yun .title{
    position: absolute;
    left:27px;
    top:43px;
    z-index: 3;
    font-size:12px;
    font-weight: bold;
    text-shadow: 0px 0px 1px #666;
    color:#eee;
}
@keyframes room-first{
    0%{
        left:30px;
        top:30px;
        width:35px;
        height:35px;
        z-index:1;
        border:2px solid #6b96ef;
    }
    50%{
        left:64px;
        top:33px;
        width:25px;
        height:25px;
        z-index:2;
        border:2px solid #646878;
    }
    100%{
        width:35px;
        height:35px;
        left:30px;
        top:30px;
        z-index:1;
        border:2px solid #6b96ef;
    }
}
@-webkit-keyframes room-first{
    0%{
        left:30px;
        top:30px;
        width:35px;
        height:35px;
        z-index:1;
        border:2px solid #6b96ef;
    }
    50%{
        left:64px;
        top:33px;
        width:25px;
        height:25px;
        z-index:2;
        border:2px solid #646878;
    }
    100%{
        width:35px;
        height:35px;
        left:30px;
        top:30px;
        z-index:1;
        border:2px solid #6b96ef;
    }
}

@keyframes room-last{
     0%{
         left:64px;
         top:33px;
         width:25px;
         height:25px;
         z-index:2;
         border:2px solid #646878;
     }
     50%{
         left:30px;
         top:30px;
         width:35px;
         height:35px;
         z-index:1;
         border:2px solid #6b96ef;
     }
     100%{
         left:64px;
         top:33px;
         width:25px;
         height:25px;
         z-index:2;
         border:2px solid #646878;
     }
 }

@-webkit-keyframes room-last{
    0%{
        left:64px;
        top:33px;
        width:25px;
        height:25px;
        z-index:2;
        border:2px solid #646878;
    }
    50%{
        left:30px;
        top:30px;
        width:35px;
        height:35px;
        z-index:1;
        border:2px solid #6b96ef;
    }
    100%{
        left:64px;
        top:33px;
        width:25px;
        height:25px;
        z-index:2;
        border:2px solid #646878;
    }
}

.yun div[class~='room-other']:first-of-type,
.yun div[class~='room-other']:last-of-type{
    position: absolute;
    transform:rotateZ(45deg);
    -webkit-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
}
.yun div[class~='room-other']:first-of-type{
    width:35px;
    height:35px;
    left:30px;
    top:30px;
    animation:room-other-first 3s infinite;
    -webkit-animation:room-other-first 3s infinite;
    -moz-animation:room-other-first 3s infinite;
    -o-animation:room-other-first 3s infinite;
    -ms-animation:room-other-first 3s infinite;
    transform:50% 50%;
    background:rgba(100,104,120,1);
}
.yun div[class~='room-other']:last-of-type{
    width:25px;
    height:25px;
    left:64px;
    top:35px;
    animation:room-other-last 3s infinite;
    -webkit-animation:room-other-last 3s infinite;
    -moz-animation:room-other-last 3s infinite;
    -o-animation:room-other-last 3s infinite;
    -ms-animation:room-other-last 3s infinite;
    background:rgba(1107,150,239,1);
}
.yun div[class~='title']{
    animation:title-change 3s infinite;
    -webkit-animation:title-change 3s infinite;
    -moz-animation:title-change 3s infinite;
    -o-animation:title-change 3s infinite;
    -ms-animation:title-change 3s infinite;
}
@keyframes room-other-first{
    0%{
        transform:rotateY(0deg) rotateZ(45deg);
    }
    50%{
        background: #6b96ef;
    }
    100%{
        transform:rotateY(360deg) rotateZ(45deg);
    }
}
@keyframes room-other-last{
    0%{
        transform:rotateY(0deg) rotateZ(45deg);
    }
    50%{
        background: #646878;
    }
    100%{
        transform:rotateY(360deg) rotateZ(45deg);
    }
}
@keyframes title-change{
    0%{
        color:#333;
    }
    40% {
        color: #d043d9;
    }
    60%{
        color: #40f111;
    }
    80%{
        color: #279b8c;
    }
    100%{
        color:#333;
    }
}
@-webkit-keyframes room-other-first{
    0%{
        transform:rotateY(0deg) rotateZ(45deg);
    }
    50%{
        background: #6b96ef;
    }
    100%{
        transform:rotateY(360deg) rotateZ(45deg);
    }
}
@-webkit-keyframes room-other-last{
    0%{
        transform:rotateY(0deg) rotateZ(45deg);
    }
    50%{
        background: #646878;
    }
    100%{
        transform:rotateY(360deg) rotateZ(45deg);
    }
}
@-webkit-keyframes title-change{
    0%{
        color:#333;
    }
    40% {
        color: #d043d9;
    }
    60%{
        color: #40f111;
    }
    80%{
        color: #279b8c;
    }
    100%{
        color:#333;
    }
}